body{
    background-color:#f7e8cd;
}
body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body{
    border: 30Px solid rgb(94, 255, 0);
    padding: 40px;
    display: inline-block;
}
ch.2{
    font-size: 100%;
}
