body{
    background-color:#ecb856;
}
body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-container{
    border: 30Px solid red;
    padding: 40px;
    display: inline-block;
}
