
body{
    background-color:#f7e8cd;
}
body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body{
    border: 30Px solid rgb(68, 0, 255);
    padding: 40px;
    display: inline-block;
}
.seru{
    text-align:right;
}
.ch.1{
    border:1px solid #333;
}
.ch.2{
    font-size: 150%;
}
button.btn{
    width:6em;
    height:3em;
}
