body{
    background-color:#f7e8cd;
}
body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body{
    border: 30Px solid rgb(251, 255, 14);
    padding: 40px;
    display: inline-block;
}
