body{
    width: 960px;
    margin: auto;
    border-left:1px solid #000000; /*線の設定*/
padding:2px 8px; /*余白の設定*/
border-right:1px solid #000000; /*線の設定*/
padding:2px 8px; /*余白の設定*/

}

#home{
    background-color: rgb(7, 11, 48);
    color: rgb(255, 255, 255);
    padding: 1em 2em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
