html{
    background-color: rgb(255, 255, 255);
}
body{
    width: 960px;
    margin: auto;


}

#home{
    background-color: rgb(7, 11, 48);
    color: rgb(255, 255, 255);
    padding: 1em 2em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
#evacuation{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1em 2em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
#guide{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1em 2em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
footer{
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
    padding: 1em 2em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
#sekijyuuji{
    border: double 5px #ff0000;
}
#bokin{
    font-size:2em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background : rgba(0,0,0,1);
	text-shadow : 
		0 0 0.1em rgba(255, 5, 5, 0.644),
		0.01em 0.04em 0.03em rgba(255,255,255,0.4);
	-webkit-background-clip : text;
}
#tobu{
    font-size:1em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background : rgba(0,0,0,1);
	text-shadow : 
		0 0 0.1em rgba(255, 5, 5, 0.644),
		0.01em 0.04em 0.03em rgba(255,255,255,0.4);
	-webkit-background-clip : text;
}

