html{
    background-color: rgb(255, 255, 255);
}
body{
    width: 960px;
    margin: auto;


}

#home{
    background-color: rgb(7, 11, 48);
    color: rgb(255, 255, 255);
    padding: 1em 2em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
#evacuation{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1em 2em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
#guide{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1em 2em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
footer{
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
    padding: 1em 2em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
#nu-footer__notice-item,
#nu-footer__socials,
#nu-footer__socials-button
#nu-footer__socials-icon, 
#gtm-social-footer-icon--facebook{
  color: red;
}


