.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; /* レスポンシブに適したパディングを追加 */
}

body {
  background-color: #f7e8cd;
  margin: 0; /* ボディのマージンをリセット */
}

#list {
  white-space: nowrap;
}
/* モバイル用スタイル */
@media screen and (max-width: 767px) {
  body {
    padding: 20px; /* モバイルの場合のパディング */
    position: static;
    transform: none;
    border: none;
    display: block;
  }
}

/* デスクトップ用スタイル */
@media screen and (min-width: 768px) {
  body {
    position: static;
    transform: none;
    border: none;
    padding: 20px; /* デスクトップの場合のパディング */
  }
}
