body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7e8cd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 30px solid rgb(255, 251, 40);
    padding: 40px;
}

#list {
    white-space: nowrap;
}
